
data/*
docs/*


# Ignore all figures
figures/*

# Allow access to this folder
!figures/equity_map_biscale/

# Ignore everything inside except RDS
figures/equity_map_biscale/*
!figures/equity_map_biscale/*.rds


__pycache__/
*.pyc

*.docx
*.xlsx
*api_key.*
Yougeng*
*.lnk

## code
deploy_on_shinyapps.io.R


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Environmental variables
.env
../slurm-*.out
